@import url('https://fonts.googleapis.com/css?family=Srisakdi');
.border:{
    border:4px solid black; 
    
}
.border2:hover{
    border: 3px solid whitesmoke;
    background: white;
}
.border3:hover{
    border:3px solid whitesmoke;
     background: white;
}
.border4:hover{
    border:3px solid whitesmoke;
    background:white;
}
.border5:hover{
    border:3px solid white;
    background:white;
}
.border6:hover{
    border:3px solid white;
    background:blueviolet;
}
.border7:hover{
    border:3px solid whitesmoke;
    background:white;
}
.border8:hover{
    border:3px solid whitesmoke;
    background:blue;
}
.border9:hover{
    border:3px solid whitesmoke;
    background: white;
}.border10:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border11:hover{
    border:3px solid whitesmoke;
    background:white;
}.border12:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border13:hover{
    border:3px solid whitesmoke;
    background:white;
}.border14:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border15:hover{
    border:3px solid whitesmoke;
    background:white;
}.border16:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border17:hover{
    border:3px solid whitesmoke;
    background:white;
}.border18:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border19:hover{
    border:3px solid whitesmoke;
    background:white;
}.border20:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border21:hover{
    border:3px solid whitesmoke;
    background:white;
}.border22:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border23:hover{
    border:3px solid whitesmoke;
    background:white;
}.border24:hover{
    border:3px solid whitesmoke;
    background:blue;
}.border25:hover{
    border:3px solid whitesmoke;
    background:white;
}
.blog-container{
    margin: 650px 400px; 
}
body{
    background-color: greenyellow;
    font-family: 'Srisakdi', cursive;
}
.h1 {
background-color:  blue;
}
.MY BLOG:HOVER{
  background:white;  
}


